body {
  display: block;
  //line-height: 1.5;
  //text-align: center;
  margin: 0px;
}

main {
 display: block;
  //margin: 30px;
  //padding: 15px;
}

p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
text-align: center;
font-family: 'Lato', sans-serif;
width: 100vw;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}


/*
#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/
