body {
  display: block;
  margin: 0%;
}

main {
 display: block;

}

p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1, h3, figcaption {
text-align: center;
font-family: 'Lato', sans-serif;
width: 95%;
margin-left: auto;
margin-right: auto;
}

img {
  max-width: 95%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 4px solid #817F7E;
}



ul {
  max-width: 65%;
  margin: 0 auto 50px auto;
  line-height: 1.6;
  text-align: left;
  background-color: #ebebeb;
}

li {
  list-style-type: square;
  font-family: 'Lato', sans-serif;
}


a:link {
  text-decoration: none;
}


#caption {
  margin-top: 10px;
  max-width: 100%;
}


#img-div {
  //display: block;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
